header.App-header {
    height: 80px;
    width: 100%;
    background: #E31837;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    padding: 0 2rem;
}

.short-name {
    font-size: 4rem;
    letter-spacing: -1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: 300;
}

.banner {
    width: 100%;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    background-color: #F2F2F2;
    /* background: url("./assets/images/birds.svg") no-repeat; */
}

@media only screen and (max-width: 600px) {
    .banner {
        width: auto !important;
    }
    .banner .text {
        font-size: 1.5rem;
    }
    .products {
        flex-direction: column;
        height: auto !important;
        margin: 1rem 0;
    }
    .product {
        margin: 1rem 0;
    }
    .banner .description {
        font-size: 0.75rem;
    }
    .opening {
        font-size: 0.6rem !important;
    }
    .contact {
        font-size: 1rem !important;
    }
}

.banner .text {
    font-size: 2rem;
    text-transform: uppercase;
}

.banner .text span {
    color: #E31837;
}
.banner .description {
    font-size: 1rem;
    padding-top: 1rem;
    font-weight: 300;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

.product {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.product .title {
    font-size: 1rem;
    padding-bottom: 1rem;

}

.product .description {
    font-size: 0.8rem;
    font-weight: 300;
}

.bg-red {
    background: #E31837;
}

.bg-grey {
    background: #F2F2F2;
}

.openings {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.openings .title {
    color: #E31837;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.opening , .contact {
    font-size: 1rem;   
    font-weight: 300;
    padding: 0.5rem 0;
}

.footer {
    height: 80px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    font-weight: 300;
}